@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&family=Roboto:wght@100;400;700&display=swap');

body {
    background-color: #292929;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;    

    display: flex;
    justify-content: center;
}

.flashbacks,
.decks,
.meta {
    height: 100vh;
    width: 600px;
    background-color: #FB6B6B;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.decks img,
.meta img {
    width: 204px;
    height: 242px;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
    margin-top: 26px;
}

.decks select,
.meta input {
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 286px;
    height: 56px;
    margin-top: 48px;
    padding-left: 20px;
    border-radius: 7px;
    border-color: #ADADAD;
    color: #FB6B6B;
}

.meta input::placeholder {
    margin-left: 20px;
    color: #C0C0C0;
}

.pergunta,
.botão {
    margin-top: 20px;
    width: 309px;
    height: 66px;
    border-radius: 7px;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.desativado {
    background-color: #E8E8E8;
    color: #C0C0C0;
}

.ativado {
    background-color: #FFFFFF;
    color: #D70900;
    border: 5px #D70900;
}

.decks select {
    width: 309px;
}

.decks select > option{
    color: #ADADAD;
}

.bottom {
    font-family: 'Recursive', sans-serif;
    background-color: #FFFFFF;
    font-size: 20px;
    width: 600px;
    height: 110px;
    z-index: 1;

    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo img {
    width: 72px;
    height: 88px;
    margin-right: 42px;
}

.topo {
    background-color: #FB6B6B;
    width: 600px;
    padding: 60px 0;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: fixed;
    top: 0;
}

.pergunta {
    background-color: #FFFFFF;
    font-family: 'Recursive', sans-serif;
    font-style: bold;
    font-weight: 700;
    padding: 0 20px;
    width: 80%;
    height: 80px;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
}

.pergunta ion-icon {
    font-size: 32px;
}

.perguntas {
    width: 600px;

    display: flex;
    align-items: center;
    flex-direction: column;
}